# Lambda and map Function Assignments

 Sort all the numbers in a list in descending order using lambda function

In [5]:
x=[5,3,7,2,1,8,33]
s=sorted(x,key=lambda x:-x)
print(s)

[33, 8, 7, 5, 3, 2, 1]

Q Sort all the characters of given string using lambda function

In [7]:
string=input("Enter a string ")
s=sorted(string,key=lambda x:x)
print(s)

Enter a string aishwarya
['a', 'a', 'a', 'h', 'i', 'r', 's', 'w', 'y']

Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [11]:
l1=['Aisha','Rutu','Mona','Simmi']
l=sorted(l1,key=lambda x:x[-1])
print(l)

['Aisha', 'Mona', 'Simmi', 'Rutu']

In [18]:
def reve(s):
    return s[-1]
l2=sorted(l1,key=reve)
print(l2)

['Aisha', 'Mona', 'Simmi', 'Rutu']

Q Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [20]:
l1=['Aisha','Rutu','Mona','Simmi','Aisha','Rutu','Pikku']
l2=sorted(set(l1),key=lambda x:x[-2])
print(l2)

['Aisha', 'Pikku', 'Simmi', 'Mona', 'Rutu']

In [21]:
def rever(s):
    return s[-2]
l2=sorted(set(l1),key=rever)
print(l2)

['Aisha', 'Pikku', 'Simmi', 'Mona', 'Rutu']

Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

In [31]:
d1={}
for i in range (5):
    id1=int(input("Enter id "))
    name=input("Enter name ")
    d1[id1]=name
print(d1)   
print("Sorting BY id")
d2=sorted(d1.items(),key=lambda x:x[0])
print(d2)
print("Sorting ny name")
d3=sorted(d1.items(),key=lambda x:x[1])
print(d3)

Enter id 4
Enter name aishwarya
Enter id 7
Enter name rutuja
Enter id 2
Enter name sneha
Enter id 54
Enter name teju
Enter id 44
Enter name apoorva
{4: 'aishwarya', 7: 'rutuja', 2: 'sneha', 54: 'teju', 44: 'apoorva'}
Sorting BY id
[(2, 'sneha'), (4, 'aishwarya'), (7, 'rutuja'), (44, 'apoorva'), (54, 'teju')]
Sorting ny name
[(4, 'aishwarya'), (44, 'apoorva'), (7, 'rutuja'), (2, 'sneha'), (54, 'teju')]

Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [36]:
words=input("Enter numbers seperated by numbers")
l1=words.split(",")
print(l1)
l2=list(map(float,l1))
print(l2)

Enter numbers seperated by numbers2,4,33,55,66
['2', '4', '33', '55', '66']
[2.0, 4.0, 33.0, 55.0, 66.0]

Q Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [38]:
float1 = [3.14, 21.718, 11.618, 34.20]
st= list(map(str, float1))
res = '|'.join(st)
print(res)

3.14|21.718|11.618|34.2

Q Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [40]:
l1=[22,4,33,55,66,3]
def sq(x):
    return x**2
l2=list(map(sq,l1))
print(l2)

[484, 16, 1089, 3025, 4356, 9]