Write programs using lists in python
1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [2]:
l1 = [100, 200, 300, 400, 500]
l2=l1[::-1]
print(l2)

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [10]:
l1=[x for x in range(150,250,2)]
print(len(l1))
l2=[x for x in l1 if x%4==0]
print(l2)

50
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [14]:
a=[1, 4, 9, 16, 25, 36, 49] 
b=[int(x**0.5) for x in a]
print(b)

[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [19]:
l1 = [5, 6,7]
l2 = [0, 1]
op=[str(i)+str(j) for i in l1 for j in l2]
print(op)

['50', '51', '60', '61', '70', '71']

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [22]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
l2=list2[::-1]
for e1, e2 in zip(list1,l2):
    print(e1,e2)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [26]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"] 
l2=[i for i in list1 if i !=""]
print(l2)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [28]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n'] 

solution

In [29]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [33]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for x in list1:
    if x==20:
        list1[list1.index(20)]=200
        break
print(list1)

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [34]:
l1 = [5, 20, 15, 20, 25, 50, 20]
for x in l1:
    if x==20:
        l1.remove(20)
print(l1)

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [35]:
n=input()
list1=[x for x in n]
list1.sort()
mini=""
maxm=""
for x in list1:
    mini=mini+x
list1.reverse()
for x in list1:
    maxm=maxm+x
print(int(mini))
print(int(maxm))

3425
2345
5432

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [36]:
from itertools import permutations
n=input()
list1=[x for x in n]
list2 = [x for x in list1 if int(x)%2!=0]
list3=[]
for it_length in range(len(list1)+1):
    list4=[''.join(x) for x in permutations(list1,it_length)]
    list3.extend(x for x in list4 if x!='' and  x not in list3 and int(x)%2!=0)
       
for x in list3:
    if x!= '' and int(x)%2!=0:
        print(int(x), " ", end="")

657
5  7  65  67  57  75  657  675  567  765