# Set Assignments:

1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [10]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",'Yellow','orange']
sampleList=set(sampleList)
sampleSet.update(sampleList)
print(sampleSet)

{'Yellow', 'Orange', 'Black', 'orange', 'Blue', 'Green', 'Red'}

2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70

In [11]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set1 & set2

{30, 40, 50}


3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [22]:
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100} 
set3 = { x for x in ((set1 | set2) - (set1 & set2))  }
    
print(set3)

{100, 70, 10, 20, 25, 60}

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [29]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
(set1 | set2 )-(set1 & set2)

{10, 20, 60, 70}

5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [33]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70} 
set1 ^= set2
print(set1)

{20, 70, 10, 60}

Q6.  Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [34]:
str1=input("Enter string ")
str1=str1.split(" ")
print(set(str1))

Enter string hii its me i am the problem its me
{'am', 'problem', 'me', 'its', 'the', 'hii', 'i'}

# Tuple Assignments

1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [36]:
Tuple = (10, 20, 30, 40, 50,60)
Tuple[::-1]

(60, 50, 40, 30, 20, 10)

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [37]:
Tuple = ("Orange", [10, 20, 30], (5, 15, 25))
Tuple[1][1]

20

3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [40]:
Tuple = (10, 20, 30, 40)
a,b,c,d=Tuple
a,b,c,d
print(a,b,c,d, type(a))

10 20 30 40 <class 'int'>

4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [42]:
a = (11, 22) 
b = (99, 88)
a,b=b,a
print(a)
print(b)

(99, 88)
(11, 22)

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [43]:
t = (11, 22, 33, 44, 55, 66)
t2=tuple(x for x in t if x==44 or x==55)
print(t2)

(44, 55)

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [45]:
t1 = (11, [22, 33], 44, 55)
t1[1][0]=200
print(t1)

(11, [200, 33], 44, 55)

7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

In [49]:
a=10
b=23
a,b=b,a
print('a= ',a)
print('b= ',b)

a=  23
b=  10

# Dictionary Assignments

1. In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a letter some fixed number of positions down the alphabet. For example, with a shift of 3, A would be replaced by D, B would become E, and so on. The method is named after Julius Caesar, who used it to communicate with his generals. ROT-13 ("rotate by 13 places") is a widely used
example of a Caesar cipher where the shift is 13. In Python, the key for ROT-13 may be represented by means of the following dictionary
{'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
Your task in this exercise is to implement an encoder/decoder of ROT-13. Once you're done, you will be able to read the following secret message:
Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Note that since English has 26 characters, your ROT-13 program will be able to both encode and decode texts written in English.

In [5]:
d={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 
   'n':'a', 'o':'b', 'p':'c','q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 
   'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 
   'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
sen=input("Enter sentence to decode  ")
l1=""
for char in sen:
    if char in d:
        l1 +=d[char]
    else:
        l1 +=char
print(l1)

Enter sentence to decode  Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Caesar cipherA I much prefer Caesar salad!

2. Given a dictionary of students and their favourite colours:
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'}
a. Find out how many students are in the list
b. Change Lisa’s favourite colour
c. Remove 'Jenny' and her favourite colour
d. Sort and print students and their favourite colours alphabetically by name

In [6]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
# a.
l1=list(people.keys())
print(l1)

['Arham', 'Lisa', 'Vinod', 'Jenny']

In [7]:
# b.Change Lisa’s favourite colour
people['Lisa']='Pink'
print(people)

{'Arham': 'Blue', 'Lisa': 'Pink', 'Vinod': 'Purple', 'Jenny': 'Pink'}

In [9]:
people.pop('Jenny')
print(people)

{'Arham': 'Blue', 'Lisa': 'Pink', 'Vinod': 'Purple'}

In [8]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
l2=sorted(people)
print(l2)
s=dict(sorted(people.items()))
print(s)
for keys,values in s.items():
    print(keys,":",values)

['Arham', 'Jenny', 'Lisa', 'Vinod']
{'Arham': 'Blue', 'Jenny': 'Pink', 'Lisa': 'Yellow', 'Vinod': 'Purple'}
Arham : Blue
Jenny : Pink
Lisa : Yellow
Vinod : Purple

3. Write a menu driven program to practice Dictionary functions.
Write a program to accept name of a person and their vehicle and store it in a dictionary.
Ask user if they want to continue to accept multiple values.
Display following menu:
a. Add new person name and a vehicle name.
b. Delete a person name and vehicle name from the dictionary.
----Accept person name from user.
----Check whether person name exists in the dictionary.
----If exists show person name and vehicle name to the user.
----Confirm for deletion, if user enters y
then delete otherwise no. Display appropriate message.
c. Modify vehicle name for the person
----Accept a person name from user.
----Check whether the person’s name exists.
----If the name exists, show the person’s name and vehicle name to user.
Ask for new value and then overwrite the old value.
d. Search vehicle for the given person’s name.
e. Search list of people, who have given a vehicle
f. Display all person names.
g. Display all vehicle names.
h. Exit

In [2]:
d1={'Aishwarya':'Scorpio','Rutuja':'H.city','Tej':'Swift'}
while True:
    print(" ")
    print("""a). Add new person name and a vehicle name.
    b). Delete a person name and vehicle name from the dictionary.
    c). Modify vehicle name for the person
    d). Search vehicle for the given person’s name.
    e). Search list of people who has given a vehicle
    f). Display all person names
    g). Display all
    q). Exit""")
    print("")
    ch=input("Enter Choice :")
    match ch :
        case 'a':
            name=input("Enter persone's name ")
            vechile=input("Enter vechile name")
            if vechlie=='':
                vechile='None'
            d1[name]=vechile
        case 'b':
            name=input("Enter name of person to delete detail ")
            if name in d1:
                y=input("You really want to delete Y or N")
                if y=='y':
                    d1.pop(name)
            else:
                print("No such user")
        case 'c':
            modify=input("Enter person's name to modify vechile")
            vec=input("Enter vechile name")
            if name in d1:
                d1[name]=vec
            else:
                print("No such user found")
        case 'd':
            srch=input("Enter vechile name to search owner ")
            if values in d1:
                print(d1.keys())
            else:
                print("no such entry")
        case 'e':
            l1=d1.keys()
            print(l1)
        case 'f':
            l2=d1.values()
            print(l2)
        case 'g':
            print(d1)
        case 'q':
            break
            
        case _:
            print("Enter valid choice")

SyntaxError: invalid syntax (1942597632.py, line 14)


4. Write a program to display following menu and do the following:
a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
---- Accept a city from user search city and if found display list of trees otherwise
---- Display message not found
d. Display cities which have the given tree.
---- Accept a tree name from user and display all cities in which the tree is found.
e. Delete city ---- Accept city from user and delete the city if found.
---- Prompt user before deletion
f. Modify tree list
---- Accept city and trees to be added in the city. if city exist add trees at the end of the list
---- Otherwise add city and list
g. Exit

5. Take a sentence as input from user. Every word is seperated by space. 
a. Create a word_count dictionary which will have unique words and their count. 

b. create suffix_count dictionary which will contain count of words ending with 's', 'es', 'ed', 'y', 'en' , etc.

c. create dictionary word_length_count which will store length of word and count.
Ex. 
input_sent= 'CDAC is in Pune'
There are 2 words of length 4 and 2 words of length 2 so,
word_length_count = {2:2, 4:2}

In [29]:
#a. Create a word_count dictionary which will have unique words and their count. 
sen='Hii this is a dbda class we are on a right track are we'
l2=sen.split(' ')
l1=set(l2)
d1={}
for w in l2:
        d1[w]=l2.count(w)
print(d1)

{'Hii': 1, 'this': 1, 'is': 1, 'a': 2, 'dbda': 1, 'class': 1, 'we': 2, 'are': 2, 'on': 1, 'right': 1, 'track': 1}

In [34]:
#b. create suffix_count dictionary which will contain count of words ending with 's', 'es', 'ed', 'y', 'en' , etc.
sen='Hii this is a dbda class we are on a right track are we es ped aen' 
l2=sen.split(' ')
d1={}
l=['s','es','ed','y','en']
for word in l2:
    
    for suffix in l:
        if word.endswith(suffix):
            if suffix in d1:
                d1[suffix]+=1
            else:
                d1[suffix]=1
print(d1)

{'s': 4, 'es': 1, 'ed': 1, 'en': 1}

In [2]:
#c. create dictionary word_length_count which will store length of word and count.
sen='Hii this is a dbda class we are on a right track are we es ped aen'
l2=sen.split(' ')
word_count_lenght={}
for word in l2:
    cn=len(word)
    if cn in word_count_lenght:
        word_count_lenght[cn] +=1
    else:
         word_count_lenght[cn] =1
print(word_count_lenght)

{3: 5, 4: 2, 2: 5, 1: 2, 5: 3}